mat-card{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
}

mat-form-field,
input{
  text-align: left;
  width: 100%;
}

.center {
  text-align: center;
}

.text-padding {
  padding-right: 30px;
}

