<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1 style="color: white;">What I Can Offer</h1>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        style="opacity: 1;"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <div class="card-body">
          <p class="card-text">
            Talented Software Developer with focus on Front-End Development
            offering 2 years of experience. Team Leader and a strategic thinker
            with proficiency in Object Oriented Programming, Data Structures and
            Algorithms. Competent for Problem-Solving in fast-paced settings.
            Adaptable and driven with strong work ethic and ability to thrive in
            team-based or individually motivated settings. Demonstrated talents
            in guiding teams engaged in Software Development. Proficiency in
            Agile Process, Software Development Life Cycle, Design Patterns and
            Databases(SQL and noSQL).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
