
.card {
  background-color: white;
  display: contents;
}
 .card-header {
  display: flex;
   justify-content: center;
 }
.card-body {
  text-align: center;
  min-height: 200px;
}
.card-text {
  padding: 5%;
  font-size: 20px;
  color: white;
  text-align: justify;
}
.card-title {
  color: white;
}

.nav-link {
  font-size: x-large;
  color: white;

  &:hover,
  &:focus,
  &:active {
    color: black;
  }
}

