<!-- <app-my-navbar></app-my-navbar> -->


<article class="scroller">
  <div>
<section><app-my-intro></app-my-intro></section>
</div>


<section class="fullscreen"><app-image-upload class="frontpage"></app-image-upload></section>
<section class="fullscreen"><app-about-me></app-about-me></section>
<section class="fullscreen"><app-my-conceptual ></app-my-conceptual></section>
<section class="fullscreen"><app-my-interpersonal></app-my-interpersonal></section>
<section class="fullscreen"><app-my-education></app-my-education></section>
<section class="fullscreen">
  <app-my-workexp></app-my-workexp>
</section>
<section class="fullscreen">
<app-my-projects></app-my-projects></section>
<section><app-contact-me></app-contact-me></section>
<section class="fullscreen"><app-my-footer></app-my-footer></section>

</article>
