<div class="educational">
  <section class="text-center">
    <h2 class="h1 py-5 font-weight-bold" style="padding: 50px;">Educational Background</h2>

    <p class="px-5 mb-5 pb-3 lead grey-text">
      Title: Master of Science(Computer Science)
    </p>

    <div class="row">
      <div class="col-md-4">
        <h4 class="font-weight-bold mt-3">Master in Computer Science</h4>
        <!-- <hr style="color: white;" /> -->
        <p class="grey-text" style="font-size: 12px;">
          University at Albany, SUNY, Albany, New York, U.S.
        </p>
        <!-- <hr style="color: white;" /> -->
        <p class="grey-text">
          May 2020
        </p>
        <!-- <hr style="color: white;" /> -->
      </div>

      <div class="col-md-4">
        <h4 class="font-weight-bold mt-3">Bachelor in Computer Engineering</h4>
        <!-- <hr style="color: white;" /> -->
          <p class="grey-text" style="font-size: 10px;">
          Thakur College of Engineering and Technology, Mumbai, Maharashtra,
          India
        </p>
        <!-- <hr style="color: white;" /> -->
        <p class="grey-text">
          June 2017
        </p>
        <!-- <hr style="color: white;" /> -->
      </div>

      <div class="col-md-4">
        <h4 class="font-weight-bold mt-3">Diploma in Computer Engineering</h4>
        <!-- <hr style="color: white;" /> -->
        <p class="grey-text" style="font-size: 12px;">
          Thakur Polytechnic, Mumbai, Maharashtra, India
        </p>
        <!-- <hr style="color: white;" /> -->
        <p class="grey-text">
          June 2014
        </p>
        <!-- <hr style="color: white;" /> -->
      </div>
    </div>
  </section>
</div>
