

<div class="container">
  <!-- Flexbox container for aligning the toasts -->

  <h1 style="color: white; padding: 3%; text-align: center;">Work Experience</h1>
  <div class="row">
    <div class="col-md-4">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Freelancer</h2>
          </div>
          <div class="flip-card-back">
            <span>
              <p>
              Jan 2019 - Present</p>
              <div></div>
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>

      <div class="text-center" style="padding: 0% 20% 5% 20%; color: white;">
        <ul>
          <li>
            Successful developed and deployed projects with Angular, Node.js, Express.js, NoSQL(MongoDB), SQL(mySQL)

          </li>
          <li>
            Designed and implemented user interface for e-commerce website using Angular. Developed reusable components for future use.

          </li>
          <li>
            Integrated PayPal Payment for accepting payment

          </li>
          <li>
            Collaborating with a team of other developers, designers, producers, creative directors, and various agencies to build rich websites.

          </li>
          <li>
            Developed a Full Stack Web application for a restaurant.

          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h2>Front-End Developer</h2>
              </div>
              <div class="flip-card-back">
                <span>
                  <p>At:<br />Computer Society of India (CSI) <br>
                  Jun 2015 - Jun 2017</p>
                  <div></div>
                </span>
              </div>
            </div>
          </div>
        </div>
        </div>
          <div class="text-center" style="padding: 0% 20% 5% 20%; color: white;">
            <ul>
              <li>
                Optimized website to increase performance ensuring scalability, created clean, precise and all browser-compatible code.

              </li>
              <li>
                Developed dynamic and interactive website that ensured high traffic, page views, and user experience, resulting in 20% increase in registrations for events held in technical festival.

              </li>
              <li>
                Actively participated in all team meetings and made revisions to projects as per the client requests.

              </li>
              <li>
                Managed and Supported marketing based design for publicly hosting website for the technical festival (Zephyr).

              </li>
              <li>
                Took ownership for increasing publicity of all events hosted by CSI.

              </li>
            </ul>
          </div>
    </div>
