<div class="container">
  <div class="heading">
    <h1 style="color: white; padding-bottom: 50px;">Projects Created</h1>
  </div>

    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2>Real Time Object Detection</h2>
            </div>
            <div class="flip-card-back">
              <span>
                <p>Tech used: <br />Java (Swing), MySQL, OpenCV, TensorFlow</p>
                <div></div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8" style="padding: 30px; color: white;">
        <ul>
          <li>
            The project detects human faces from an image, video or live camera
            using OpenCV and TensorFlow
          </li>
          <li>
            Designed and implemented User Interface for the application with
            revisions based on requests from the project owner.
          </li>
          <li>
            Created and managed a database using MySQL to store registered users
            with authorization and authentication functionalities.
          </li>
          <li>
            Developed a human detector using Haar feature-based cascade
            classifiers.
          </li>
        </ul>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Hospital Management System</h2>
          </div>
          <div class="flip-card-back">
            <p>
              Tech used: <br />JavaScript, JSP, HTML, CSS, MVC Framework, MySQL,
              Amazon Web Services (RDS, BeanStalk, EC2, DynamoDB, S3)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8" style="padding: 30px; color: white;">
      <ul>
        <li>
          Lead a group of 7 members to develop a versatile hospital management
          system. It provides many functionalities such as patient
          registrations, management of appointments and prescriptions.
        </li>
        <li>
          This project will help hospitals to automate the management process
          such as assigning doctors to patients with specific conditions. It
          helps the patients and doctors to efficiently schedule and manage
          their meetings. Doctors can easily update patient prescriptions and
          notify about the update.
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Go-Amigo</h2>
          </div>
          <div class="flip-card-back">
            <p>
              Tech used: <br />
              Angular, NodeJS, ExpressJS, MongoDB, HTTP Client API, Bootstrap,
              HTML5, CSS3, Amazon Web Services (RDS, BeanStalk, EC2, DynamoDB,
              S3)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8" style="padding: 30px; color: white;">
      <ul>
        <li>
          Collabrated with a team of 6 members and implemented smart trip planner
          with budget management, restaurant suggestions and gallery management
        </li>
        <li>
          Implemented HTTP Client API in Angular to communicate with backend
          services over HTTP protocol.
        </li>
        <li>
          Established communication between MongoDB and ExpressJS framework to
          service requests.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>A visual saliency-based video Hashing Algorithm</h2>
          </div>
          <div class="flip-card-back">
            <p>
              Tech used: <br />Python(Libraries used: Nmap, Numpy, Scapy,
              Cryptography)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8" style="padding: 30px; color: white;">
      <ul>
        <li>
          Due to the rise of video blogging, the video retrieval and copyright
          protection, it is crucial to protect it from various attacks from
          attackers who might use them for their personal gain.
        </li>
        <li>
          The implemented project plays a crucial role in eliminating the threat
          and protecting the video from different non-validated users. It uses a
          combination of two different types of Hashing functions in order to
          increase the security.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Smart Weighing Machine</h2>
          </div>
          <div class="flip-card-back">
            <p>
              Tech used: <br />ASP.NET, Microsoft SQL Server, Bootstrap
              Templates, Raspberry Pi 3 B model
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8" style="padding: 30px; color: white;">
      <ul>
        <li>
          The proposed model is based on standard weighing machine which is
          available in market but instead of using a microcontroller, we incorporated raspberry pi to measure weight, enable web connectivity and different
          sensor interfaces.
        </li>
        <li>
          This project will help farmers to automate the cataloging process by
          using this weighing machine and will reduce the human errors. It helps
          in reducing hoarding and increase transparency between farmers and
          customers. This project was nominated for DR. APJ Abdul Kalam National
          Award.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Android Travel Mate</h2>
          </div>
          <div class="flip-card-back">
            <p>
              Tech used: <br />Tesseract Engine version 3.01, Android SDK,
              Eclipse IDE, Microsoft Translator Java API
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8" style="padding: 30px; color: white;">
      <ul>
        <li>
          The project, enables Travelers and tourists to easily capture the
          native country language books pages, signboards, banners and hotel
          menus into their own understandable language.
        </li>
        <li>
          The project aims to develop set of tools for translating texts between
          multiple languages in real time with high quality.
        </li>
      </ul>
    </div>
  </div>

</div>
